@import '../../assets/scss/colors';

.button {
  display: flex;
  width: 200px;
  height: 35px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  background: #6D71F9;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.4), 5px 5px 15px rgba(109, 113, 249, 0.5);
  border-radius: 50px;
  cursor: pointer;
  &:hover {
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.25), 10px 10px 20px rgba(109, 113, 249, 0.4);
  }
}

@media screen and (max-width: 768px) {
  .button {
    width: auto;
    padding: 0 2rem;
  }
}