.articles{
  padding: 3rem 0;
  h1 {
    text-align: center;
    margin-bottom: 3rem;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > * {
      flex-basis: 49%;
    }
  }
}

@media screen and (max-width: 767px) {
  .articles {
    padding: 1.5rem 0;
    h1 {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
    &__wrapper {
      & > * {
        flex-basis: auto;
      }
    }
  }
}