.error-modal {
  max-width: 21rem;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: white;
  border-radius: 0.875rem;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    background-color: rgba($color: #000, $alpha: 0.1);
  }

  &__close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    line-height: 100%;
    width: 100%;
    & > div {
      cursor: pointer;
    }
  }

  p {
    margin: 0;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .error-modal {
    max-width: calc(100% - 30px);
    &__overlay {
      padding: 15px;
    }
  }
}