@import '../../assets/scss/colors';

.profile {
  max-width: 21rem; 
  padding-top: 10rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__creds {
    color: $light-gray;
    span {
      color: $main-purple;
    }
  }
}