@import '../../assets//scss/colors';

.user-photo {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
  }
  &--no-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: $main-purple, $alpha: 0.7);
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.125rem;
    line-height: 2.125rem;
  }
  &--profile {
    width: 150px;
    height: 150px;
    margin-bottom: 2rem;
    &.user-photo--no-image {
      font-size: 5rem;
      line-height: 5rem;
    }
  }
}