@import '../../assets/scss/colors';

.auth-form {
  max-width: 21rem;
  width: 100%;
  margin: 0 auto;

  .auth-form {

    &__field {
      margin-bottom: 1.5rem;
      width: 100%;

      label {
        width: 100%;
        display: block;
        color: $main-purple;
        font-size: 0.875rem;
      }

      input {
        border: none;
        background: transparent;
        font-size: 1.25rem;
        padding: 0.5rem;
        border-bottom: 1px solid $light-gray;
        color: black;
        display: block;
        width: calc(100% - 1rem);

        &::placeholder {
          color: $light-gray;
        }

        &:focus {
          border-bottom: 1px solid $main-purple;
          outline: none;
          color: $main-purple;
        }
      }

      &--error {

        input {
          border-bottom: 1px solid $error-red;
          color: $error-red;
        }
      }
    }

    &__error {
      font-size: 0.675rem;
      color: $error-red;
      &--centered {
        text-align: center;
      }
    }

    &__submit {
      display: flex;
      justify-content: center;
    }
  }
}