@import '../../assets/scss/colors';

.header {
  box-shadow: -10px -10px 34px rgba(255, 255, 255, 0.7), 10px 10px 40px rgba(7, 39, 89, 0.22);
  padding: 15px 0;
  border: 2px solid $main-purple;
  border-top: none;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  .header {
    &__logo {
      margin: 0;
      font-family: 'Times New Roman', Times, serif;
      text-decoration: none;
      color: black;
      font-size: 2rem;
      line-height: 100%;
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__dropdown {
      position: relative;
      cursor: pointer;
    }

    &__submenu {
      margin: 0;
      list-style: none;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(calc(100% + 10px - 0.5rem * 4));
      background-color: $button;
      box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.4), 5px 5px 15px rgba(109, 113, 249, 0.5);
      padding: 0.5rem 0;
      border-radius: 0.5rem;
      width: 7rem;

      button, a {
        width: 100%;
        text-align: center;
        display: block;
        font-size: 1rem;
        padding: 0.5rem 0;
        color: $main-purple;
        font-weight: 600;
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }

      a {
        border-bottom: 2px solid rgba(0,0,0,0.1);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .header {
      &__logo {
        font-size: 1.25rem;
      }
    }
  }
}