@import '../../assets/scss/colors';

.sign-up {
  padding-top: 10rem;

  h1 {
    margin-bottom: 2rem;
    text-align: center;
  }

  .sign-up {

    &__or {
      max-width: 21rem;
      margin: 0.5rem auto 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: $light-gray;
        position: relative;
        &:before,
        &:after {
          content: '';
          width: 2rem;
          height: 1px;
          background-color: $light-gray;
          position: absolute;
          top: calc(50% - 0.5px);
        } 
        &:before {
          transform: translateX(-100%);
          right: 0;
        }
        &:after {
          transform: translateX(100%);
          left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .sign-up {
    padding-top: 2rem;
  }
}