html, body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    width: auto;
    max-width: 100%;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

button {
  border: none;
  background: transparent;
  border-radius: 0;
  &:focus {
    outline: none;
  }
}