@import '../../assets/scss/colors';

.single-article {
  color: black;
  cursor: pointer;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  box-shadow: -10px -10px 34px #FFFFFF, 10px 10px 40px rgba(7, 39, 89, 0.22);
  border-radius: 1rem;
  background-color: white;
  border: 2px solid transparent;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    border: 2px solid rgba($color: $main-purple, $alpha: .5);
  }

  h3 {
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.675rem;
  }

  p {
    line-height: 1.25rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  &__foot {
    display: flex;
    justify-content: space-between;
    p {
      font-size: 0.875rem;
      font-weight: 600;
      color: $light-gray;
    }
  }
}

@media screen and (max-width: 767px) {
  .single-article {
    padding: 1rem;
    margin-bottom: 1rem;
    h3 {
      font-size: 1.125rem;
      line-height: 1.25rem;
    }
    p {
      margin-bottom: 0.5rem;
    }
    &__foot {
      flex-direction: column;
    }
  }
}